[Desktop Entry]
Encoding=UTF-8
Name=Link to tensorflow/compression: Data compression in TensorFlow
Type=Link
URL=https://github.com/tensorflow/compression
Icon=text-html
Name[en_US]=jonycgn-GitHub
